body {
    font-family: Arial, sans-serif;
    background-color: #bebeee;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #19381a;
}

button {
    padding: 10px 20px;
    background-color: #f01919;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #e97917;
}
